<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ydy.mapper.RestMapper">
	
	<!-- 맵리스트 -->
	<select id="getMapList" resultType="RestVO">
		SELECT * FROM restaurant
	</select>
	<!-- 맵리스트 -->
	
	<!-- 특정글 정보  -->
	<select id="getRead" resultType="RestVO">
		SELECT * FROM restaurant 
		WHERE rest_id = #{rest_id}
	</select>
	<!-- 특정글 정보  -->
	
  	<!-- 글쓰기 -->
  	
  	<insert id="create">
  		INSERT INTO restaurant
  		VALUES (null,#{rest_name},#{address_road},#{address},#{city},#{lat},#{lng},#{fav},#{visit},#{memo},#{file_name})
  	
  	</insert>
  	<!-- 글쓰기 -->
  	
  	<!-- 글삭제  -->
  	<delete id="deleteList">
  		DELETE FROM restaurant
  		WHERE rest_id = #{rest_id}
  	</delete>
  	<!-- 글삭제  -->
  	
  	<!-- 글목록조회 -->
  		<select id="getList" resultType="RestVO" parameterType="PageVO">
  		 
 		SELECT * FROM restaurant	
 		where rest_id > 0
 		<if test="search!=''">AND rest_name LIKE CONCAT('%', #{search}, '%')</if>
 		order by rest_id desc
 		limit #{startPage},#{pageSize}
 		
  	</select>
  	<!-- 글목록조회 -->
  	
  	<!-- 전체 글 개수계산 -->
  	<select id="totalCnt" resultType="int" parameterType="PageVO">
  		select count(*) from restaurant
  		<if test="search!=''">WHERE rest_name LIKE CONCAT('%', #{search}, '%')</if>
  	</select>
  	<!-- 전체 글 개수계산 -->
  	
  	<!-- 글수정 -->
  	<update id="updateList">
  		UPDATE restaurant SET memo = #{memo}, visit = #{visit}, fav = #{fav}, file = #{file_name}
  		WHERE rest_id = #{rest_id}
  	</update>
  	<!-- 글수정 -->
  	

  	

  </mapper>